body{
    background-color: lightgreen;
}
#Block1{
    background-color: greenyellow;
    border: 6px solid orange;
    border-radius: 15px;
    margin-left: 50px;
    height: 180px;
    margin-top: 50px;
    
}
p{
    margin-left: 80px;
    color: yellow;
    padding-top: 3px;
    padding-left: 5px;
}
.ask{
    font-size: 20px;
    margin-left: 5px;
    padding-top: 3px;
}
.quiz{
    font-size: 24px;
    margin-left: 30px;
}
input{
    margin-left: 20px;
}
#btn1{
    margin-left: 100px;
    border: 10px double orange;
    border-radius: 15px;
    background-color: orange;
}
.ask1{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F28%2F4c%2F76%2F284c762981f83eead468101cb3d7ac40.png&imgrefurl=https%3A%2F%2Fwww.pinterest.ru%2Fpin%2F511369732695769195%2F&tbnid=dWmVyA5W_DoTzM&vet=12ahUKEwjg35nsrev3AhXUvSoKHZdiAHwQMygIegUIARDFAQ..i&docid=Q8VxJzB6BtgFQM&w=300&h=300&q=%D0%B1%D0%B5%D0%BB%D0%B0%D1%8F%20%D1%80%D0%B0%D0%BC%D0%BA%D0%B0%20png&hl=en-US&client=opera&ved=2ahUKEwjg35nsrev3AhXUvSoKHZdiAHwQMygIegUIARDFAQ");
    appearance:none;
    border-radius: 15px;
}